source https://www.nuget.org/api/v2

nuget FsCheck
nuget FSharp.Core ~> 3.1.2.5
nuget Fuchu
nuget Fuchu
nuget Fuchu.FsCheck
nuget NodaTime
nuget NuGet.CommandLine
nuget Suave
nuget Suave.Testing

github haf/YoLo YoLo.fs
github logary/logary src/Logary.Facade/Facade.fs
